<ion-header>
  <ion-toolbar>
    <ion-buttons collapse="true" slot="end">

      <ion-button href="/home">Map</ion-button>
      <ion-button href="/settings">Settings</ion-button>
      <ion-badge color="success">
        44
      </ion-badge>
    </ion-buttons>


    <ion-title>Ground Cover Mapper</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Add data</ion-card-title>
    </ion-card-header>
  </ion-card>

  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">Label</ion-label>
      <ion-input formControlName="label" type="text"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.label.errors?.required">
      Label is required.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.label.errors?.minlength">
      Label should be min 2 chars long.
    </span>

    <ion-item lines="full">
      <ion-label position="floating">Date of obsevation</ion-label>
      <ion-datetime (ionChange)="getDate($event)" formControlName="dob" [value]="defaultDate"></ion-datetime>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Notes</ion-label>
      <ion-input maxlength="10" formControlName="mobile" type="text" required></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.mobile.errors?.required">
      Mobile number is required.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.mobile.errors?.pattern">
      Only numerical values allowed.
    </span>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block">Submit</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>



